.header
{
    background: darkgreen;
    color: white;
    font-size: 14pt;
}

.content
{
    width: 90%;
    border: solid grey 1pt;
    margin: 5pt auto 5pt auto;
}

.close
{
    background: red;
    float:right;
    padding: 1pt;
    font: 10pt bold;
    margin: auto;
    color: white;
}

.cell
{
    border: 1px solid grey
}

.string
{
    color: red
}

.number
{
    color: darkblue
}

.enclosure
{
    width:inherit
}

.content > div > table
{
    width: 100%;
    text-align: left;
    border: 1px solid grey;
}

.content > div > table > tr:nth-child(even)
{
    background: lightgray;
}

.subheader
{
    color: lightblue
}